In [147]:
import pyaudio
import numpy as np
import pandas as pd
import matplotlib.pyplo
t as plt
from time import *

%matplotlib inline

In [146]:
fqs = pd.read_csv('notesFrequencies', 
                index_col=0, 
                header=None,
                names=['Note','Frequency', 'Wavelenght']).T
fqs.head()

Note,C0,C#0/Db0,D0,D#0/Eb0,E0,F0,F#0/Gb0,G0,G#0/Ab0,A0,...,D8,D#8/Eb8,E8,F8,F#8/Gb8,G8,G#8/Ab8,A8,A#8/Bb8,B8
Frequency,16.35,17.32,18.35,19.45,20.60,21.83,23.12,24.50,25.96,27.50,...,4698.63,4978.03,5274.04,5587.65,5919.91,6271.93,6644.88,7040.0,7458.62,7902.13
Wavelenght,2109.89,1991.47,1879.69,1774.20,1674.62,1580.63,1491.91,1408.18,1329.14,1254.55,...,7.34,6.93,6.54,6.17,5.83,5.50,5.19,4.9,4.63,4.37

In [144]:
intervals = pd.read_csv('intervals', 
                        header=None, 
                        names = ['Semitone', 'R1', 'R2', 'Interval', 'Natural', 'HS1', 'HS2'])
intervals.head()

   Semitone  R1  R2        Interval  Natural  HS1  HS2
0         0   1   1          unison      480    0    0
1         1  16  15  minor_semitone      512   16   15
2         2   9   8    major_second      540  135  128
3         3   6   5     minor_third      576   16   15
4         4   5   4     major_third      600   25   24

#### Generating a Wave

In [157]:
minVolume = 0.2
maxVolume = 1
samples = 40

song = pd.DataFrame()
song.loc[:,'Volume'] = np.concatenate([np.linspace(minVolume, maxVolume, samples), 
                                       np.linspace(maxVolume, minVolume, samples)])
song.loc[:,'Note'] = 'C4'
song.loc[:,'Duration'] = 0.5572565
song = song[['Note', 'Duration', 'Volume']]

In [158]:
song = song.values.tolist()

In [215]:
fs = 44100  # sampling rate, Hz, must be integer
volume = 0.3

for i in range(0, len(song)):
    p = pyaudio.PyAudio()

    # generate samples, note conversion to float32 array
    samples = (np.sin(2*np.pi*np.arange(fs*song[i][1])*fq[song[i][0]][0]/fs)).astype(np.float32)

    # for paFloat32 sample values must be in range [-1.0, 1.0]
    stream = p.open(format=pyaudio.paFloat32,
                    channels=1,
                    rate=fs,
                    output=True)

    # play. May repeat with different volume values (if done interactively) 
    
    stream.write(song[i][2]*samples)

    stream.stop_stream()
    stream.close()

    p.terminate()

#### Reading Song Written in File

In [204]:
song = pd.read_csv('Imperial March', 
                   header=None,
                   names=['Frequency','Duration'])

In [205]:
song.Duration = song.Duration.apply(lambda x: x/200)

In [206]:
song.head()

   Frequency  Duration
0        440       2.5
1          0       2.5
2        659       2.5
3        659       2.5
4        659       2.5

In [207]:
song = song.values.tolist()

In [216]:
fs = 44100  # sampling rate, Hz, must be integer
volume = 0.3

for i in range(0, len(song)):
    p = pyaudio.PyAudio()

    # generate samples, note conversion to float32 array
    samples = (np.sin(2*np.pi*np.arange(fs*song[i][1])*song[i][0]/fs)).astype(np.float32)

    # for paFloat32 sample values must be in range [-1.0, 1.0]
    stream = p.open(format=pyaudio.paFloat32,
                    channels=1,
                    rate=fs,
                    output=True)

    # play. May repeat with different volume values (if done interactively) 
    
    stream.write(0.5*samples)

    stream.stop_stream()
    stream.close()

    p.terminate()

#### Combining sine waves

In [230]:
duration = 10

In [231]:
p = pyaudio.PyAudio()

# generate samples, note conversion to float32 array
samples = np.sum([np.sin(2*np.pi*np.arange(fs*duration)*100/fs), 
                  np.sin(2*np.pi*np.arange(fs*duration)*105/fs),
                  np.sin(2*np.pi*np.arange(fs*duration)*200/fs)], axis=0).astype(np.float32)


# for paFloat32 sample values must be in range [-1.0, 1.0]
stream = p.open(format=pyaudio.paFloat32,
                channels=1,
                rate=fs,
                output=True)

# play. May repeat with different volume values (if done interactively) 
stream.write(volume*samples)

stream.stop_stream()
stream.close()

p.terminate()